body {
    padding: 10px;
    background-color: rgba(19, 182, 54, 0.196); 
}


.image_link_anchor{            
    display: block;
}

#top {
    background-color: rgba(7, 143, 34, 0.5); 
}

h1 {
   
        font-size: 58px; 
        font-weight: bold; 
        color: #333; 
    } 


h2 
{
    font-size: 48px; 
    font-weight: bold; 
    color: #0c5e31; 
}
    .nav-link {
        color: #080e14; 
    }
    
    .nav-link:hover {
        color: #0056b3; 
    }

    .image_link_anchor{
        color: #080e14; 
    }
    .image_link_anchor:hover {
        color: #00b351;
    }

p {
    font-size: 24px; 
    

}

