{% extends "auctions/layout.html" %}

{% block body %}
   
    <h2>{{auction.title}}</h2>                                              <!-- title -->
    <a href="{% url 'index' %}" class="image_link_anchor">GO BACK</a>       <!-- link to go back to index page -->
    <p>{{auction.description}}</p>                                          <!-- description of the auction and highest bid-->
    <h5>Highest bid: ${{auction.highest_bid}}</h5>                                                  
    <form action="{% url 'listing' auction.id %}" method="post">                 <!-- submit listing -->
        {% csrf_token %}
        <img src="{{auction.image_url}}">                                       <!-- Image and form for the listing bid -->
        <br>
        <br>
        <h4>{{form}}</h4>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
   
    <br>
    <br>
    <form action="{% url 'listing' auction.id %}"   method="post">
        {% csrf_token %}
        {% if auction in watchlist %}
            <input type="submit" value="Remove from Watchlist">
        {% else %}
            <input type="submit" value="Add to Watchlist">
        {% endif %}
    </form>
    <br>
    <h2>Comments:</h2>
    
    
{% endblock %}